<%= simple_form_for :conversation, url: :conversations do |f| %>
  <%= f.input :recipients, placeholder: "Enter email of sender " %>
  <%= f.input :subject, placeholder: "Mention your Name" %>
  <%= f.input :body %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= submit_tag 'Cancel', type: :reset, class: 'btn btn-danger' %>
  </div>
<% end %>