<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span5">
    <section>
      <h1>
        <%= image_tag @user.image_url(:thumb).to_s %><br>
        <%= @user.name %>
        <%= @user.phone_no %>
      </h1>
    </section>
    <section>
    	<%= render 'shared/stats' %> <br>
      <%= render 'follow_form' if user_signed_in? %>
    </section>
  </aside>
<!div class="span7">
<!% if current_user %>
      <!%= form_for(@user) do |f| %>
      <!%= f.text_area :message, placeholder: " Post Message" !%>
      <!%= f.submit :post , class: "btn btn-danger" %>
      <!%= f.text_area :email %>
      <!%= f.submit :post , class: "btn btn-danger" %>
<!%end %>
<!% end %>
<!/div>
<!% if @user.requests.any? %>
<!%= @user.requests.count %> 
<!% end %>
<!/div><br><br><br><br><br><br><br><br><br><br><br><br>