 <!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <title>Google Maps </title>     

  <!-- google maps -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false">
  </script>

  <!-- jquery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
  </script>

  <!-- jquery UI -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js">
  
  </script>

  <!-- our javascript -->
</head>
  <body>
      <%= form_for(@request) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <div id='container'>
      <div id='instructions'>
        <h1>Enter Location</h1>
          <%= f.text_field :destination, placeholder: "Start typing a destination place  ...", type: "text", id: "gmaps-input-address" %>
          <%= f.text_field :source, placeholder: "Start typing a source place...", type: "text", id: "gmaps-input-address" %> 
          <br/>
            <div id='gmaps-error'>
            </div>
              <div id='gmaps-canvas'>
              </div><br>
    </div> 
              <%= f.text_field :date, 'data-behaviour' => 'datepicker', placeholder: "Enter Date" %>
                <script type="text/javascript">
                $(document).ready(function(){
                $('[data-behaviour~=datepicker]').datepicker();
                })
                </script>
              <%= f.text_field :time, placeholder: "Time" %>
              <%= f.text_area :content, placeholder: "Comment", align: "center" %> <br>
              <%= f.submit "Post", class: "btn btn-large btn-primary" %>
          <% end %>
          </div>
  </body>