= submit_tag "Hide Map. . . ", class: "hello"
= submit_tag "Show Map. . . ", class: "hello2"
= form_for(@request) do |f|
  .hell
    = render 'shared/error_messages', object: f.object
    #container
      #instructions
        %h1 Enter Location
        = f.text_field :destination, placeholder: "Start typing a destination place  ...", type: "text", id: "gmaps-input-address"
        = f.text_field :source, placeholder: "Start typing a source place...", type: "text", id: "gmaps-input-address"
        #gmaps-error
        #gmaps-canvas
        %br/
      = f.text_field :date, 'data-behaviour' => 'datepicker', placeholder: "Enter Date"
      = f.text_field :time, placeholder: "Time"
      = f.text_area :content, placeholder: "Comment", align: "center"
      %br/
      = f.submit "Post", class: "btn btn-large btn-primary"