%ol.microposts
  .row
    %aside.span6
      = form_tag(:users, method: "get") do
        = text_field_tag "search", params[:search], placeholder: "Enter Name"
        %br/
        = submit_tag "Search", name: nil, class: "btn-custom-darken"
        %br/
        %br/
  - @users.each do |user|
    = render user
  = will_paginate @users